[submodule "lib/verilog-ethernet"]
	path = lib/verilog-ethernet
	url = https://github.com/alexforencich/verilog-ethernet.git
[submodule "lib/sv-axil"]
	path = lib/sv-axil
	url = https://github.com/manaljosid/sv-axil.git
[submodule "lib/sv-axis"]
	path = lib/sv-axis
	url = https://github.com/manaljosid/sv-axis.git
